# IDEs
.vscode/
.idea/
*.swp
*.swo

# Node.js / Next.js
node_modules/
out/
dist/
.turbo/
.pnpm-store/
**.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.ipynb_checkpoints/
*.log

# Scripts & Data
scripts/
**/instruments.json

# Environment / Secrets
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
**firebase-adminsdk**
!.env.example

# OS specific
.DS_Store
Thumbs.db

# local AI instructions & knowledge graphs
graphify-out/